<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="V_RIESGO_INHERENTE/report.js" type="text/javascript"></script>
<link href="V_RIESGO_INHERENTE/report.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">V_RIESGO_INHERENTE</h2></td>
</tr></table></div>
<div id="maintabs">
<div class="currentmaintab" onclick="onSelectMainTab(this, 0)">
<div>
<p>Columnas</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 1)">
<div>
<p>Permisos</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 2)">
<div>
<p>Dependencias</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 3)">
<div>
<p>Detalles</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 4)">
<div>
<p>Disparadores</p>
</div>
</div>
<div class="maintab" onclick="onSelectMainTab(this, 5)">
<div>
<p>Errores</p>
</div>
</div>
</div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>COLUMN_NAME</th>
<th>DATA_TYPE</th>
<th>NULLABLE</th>
<th>DATA_DEFAULT</th>
<th>COLUMN_ID</th>
<th>COMMENTS</th>
<th>INSERTABLE</th>
<th>UPDATABLE</th>
<th>DELETABLE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">RIESGO_ID_RIESGO</td>
<td class="currentcell">NUMBER(38)</td>
<td class="currentcell">No</td>
<td class="currentcell">null</td>
<td class="currentcell">1</td>
<td class="currentcell">null</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
<td class="currentcell">YES</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>COLOR</td>
<td>VARCHAR2(16)</td>
<td>Yes</td>
<td>null</td>
<td>2</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>ESCALA</td>
<td>NUMBER</td>
<td>Yes</td>
<td>null</td>
<td>3</td>
<td>null</td>
<td>NO</td>
<td>NO</td>
<td>NO</td>
</tr>
</table>
</div>
</div>
<div id="Master.1">
<div class="masterreport">
<table id="Table.1" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>PRIVILEGE</th>
<th>GRANTEE</th>
<th>GRANTABLE</th>
<th>GRANTOR</th>
<th>OBJECT_NAME</th>
</tr>
</table>
</div>
</div>
<div id="Master.2">
<div class="masterreport">
<table id="Table.2" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>NAME</th>
<th>TYPE</th>
<th>REFERENCED_OWNER</th>
<th>REFERENCED_NAME</th>
<th>REFERENCED_TYPE</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.2">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p>Referencias</p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.2">
</div>
</div>
</div>
<div id="Master.3">
<div class="masterreport">
<table id="Table.3" cellpadding="0" cellspacing="0" summary="">
<th>NAME</th>
<th>VALUE</th>
</tr>
<tr>
<td>CREATED</td>
<td>07/03/2023</td>
</tr>
<tr>
<td>LAST_DDL_TIME</td>
<td>07/03/2023</td>
</tr>
<tr>
<td>OWNER</td>
<td>USER_PROYECTO</td>
</tr>
<tr>
<td>VIEW_NAME</td>
<td>V_RIESGO_INHERENTE</td>
</tr>
<tr>
<td>TEXT_LENGTH</td>
<td>754</td>
</tr>
<tr>
<td>TEXT</td>
<td>SELECT&nbsp;r.id_riesgo&nbsp;AS&nbsp;riesgo_id_riesgo,
CASE
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;1&nbsp;AND&nbsp;2&nbsp;THEN&nbsp;'Verde&nbsp;(MuyBajo)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;3&nbsp;AND&nbsp;4&nbsp;THEN&nbsp;'VerdeOsc&nbsp;(Bajo)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;5&nbsp;AND&nbsp;10&nbsp;THEN&nbsp;'Amarillo&nbsp;(Medio)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;11&nbsp;AND&nbsp;16&nbsp;THEN&nbsp;'Gris&nbsp;(Alto)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;17&nbsp;AND&nbsp;25&nbsp;THEN&nbsp;'Rojo&nbsp;(Muy&nbsp;Alto)'
ELSE&nbsp;'Desconocido'
END&nbsp;AS&nbsp;color,
CASE
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;1&nbsp;AND&nbsp;2&nbsp;THEN&nbsp;1
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;3&nbsp;AND&nbsp;4&nbsp;THEN&nbsp;2
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;5&nbsp;AND&nbsp;10&nbsp;THEN&nbsp;3
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;11&nbsp;AND&nbsp;16&nbsp;THEN&nbsp;4
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;17&nbsp;AND&nbsp;25&nbsp;THEN&nbsp;5
ELSE&nbsp;0
END&nbsp;AS&nbsp;escala
FROM&nbsp;riesgo&nbsp;r</td>
</tr>
<tr>
<td>TEXT_VC</td>
<td>SELECT&nbsp;r.id_riesgo&nbsp;AS&nbsp;riesgo_id_riesgo,
CASE
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;1&nbsp;AND&nbsp;2&nbsp;THEN&nbsp;'Verde&nbsp;(MuyBajo)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;3&nbsp;AND&nbsp;4&nbsp;THEN&nbsp;'VerdeOsc&nbsp;(Bajo)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;5&nbsp;AND&nbsp;10&nbsp;THEN&nbsp;'Amarillo&nbsp;(Medio)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;11&nbsp;AND&nbsp;16&nbsp;THEN&nbsp;'Gris&nbsp;(Alto)'
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;17&nbsp;AND&nbsp;25&nbsp;THEN&nbsp;'Rojo&nbsp;(Muy&nbsp;Alto)'
ELSE&nbsp;'Desconocido'
END&nbsp;AS&nbsp;color,
CASE
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;1&nbsp;AND&nbsp;2&nbsp;THEN&nbsp;1
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;3&nbsp;AND&nbsp;4&nbsp;THEN&nbsp;2
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;5&nbsp;AND&nbsp;10&nbsp;THEN&nbsp;3
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;11&nbsp;AND&nbsp;16&nbsp;THEN&nbsp;4
WHEN&nbsp;(r.impacto&nbsp;*&nbsp;r.frecuencia)&nbsp;BETWEEN&nbsp;17&nbsp;AND&nbsp;25&nbsp;THEN&nbsp;5
ELSE&nbsp;0
END&nbsp;AS&nbsp;escala
FROM&nbsp;riesgo&nbsp;r</td>
</tr>
<tr>
<td>TYPE_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>TYPE_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT_LENGTH</td>
<td>null</td>
</tr>
<tr>
<td>OID_TEXT</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE_OWNER</td>
<td>null</td>
</tr>
<tr>
<td>VIEW_TYPE</td>
<td>null</td>
</tr>
<tr>
<td>SUPERVIEW_NAME</td>
<td>null</td>
</tr>
<tr>
<td>EDITIONING_VIEW</td>
<td>N</td>
</tr>
<tr>
<td>READ_ONLY</td>
<td>N</td>
</tr>
<tr>
<td>CONTAINER_DATA</td>
<td>N</td>
</tr>
<tr>
<td>BEQUEATH</td>
<td>DEFINER</td>
</tr>
<tr>
<td>ORIGIN_CON_ID</td>
<td>1</td>
</tr>
<tr>
<td>DEFAULT_COLLATION</td>
<td>USING_NLS_COMP</td>
</tr>
<tr>
<td>CONTAINERS_DEFAULT</td>
<td>NO</td>
</tr>
<tr>
<td>CONTAINER_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK</td>
<td>NO</td>
</tr>
<tr>
<td>EXTENDED_DATA_LINK_MAP</td>
<td>NO</td>
</tr>
<tr>
<td>HAS_SENSITIVE_COLUMN</td>
<td>NO</td>
</tr>
<tr>
<td>ADMIT_NULL</td>
<td>NO</td>
</tr>
<tr>
<td>PDB_LOCAL_ONLY</td>
<td>NO</td>
</tr>
<tr>
<td>DUPLICATED</td>
<td>N</td>
</tr>
<tr>
<td>SHARDED</td>
<td>N</td>
</tr>
</table>
</div>
</div>
<div id="Master.4">
<div class="masterreport">
<table id="Table.4" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>OWNER</th>
<th>TRIGGER_NAME</th>
<th>TRIGGER_TYPE</th>
<th>TRIGGERING_EVENT</th>
<th>STATUS</th>
<th>OBJECT_ID</th>
</tr>
</table>
<br/>
<hr/>
<br/><div id="ChildTabs.4">
<div class="currentchildtab" onclick="onSelectChildTab(this, 0)">
<div>
<p></p>
</div>
</div>
</div>
<br/>
<div id="ChildReports.4">
</div>
</div>
</div>
<div id="Master.5">
<div class="masterreport">
<table id="Table.5" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>ATTRIBUTE</th>
<th>Line:Position</th>
<th>TEXT</th>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
